h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}

.items-container {
    text-align: left;
}

.rv-row {
    margin: 10px 5px;
}

.rv-button {
    min-width: 96px;
}